
{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field %}

<div class="container">
    <div class="row">
        <h3>Empleados</h3>
        <h4><a href="/index">Nuevo</a></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Sueldo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {%for empleado in empleados%}
                <tr>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.email}}</td>
                    <td>{{empleado.telefono}}</td>
                    <td>{{empleado.direccion}}</td>
                    <td>{{empleado.sueldo}}</td>

                    <td>
                        <a href="eliminar.html?id={{empleado.id}}" class="btn btn-danger">Eliminar</a>   
                    </td>
                    <td>
                        <a href="modificar.html?id={{empleado.id}}" class="btn btn-warning">Modifcar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}