{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Pedidos</h3>
        <form method="GET" action="/lista_pedidos">
            <div>
                <input type="radio" id="dia" name="tipo_filtro" value="dia" checked>
                <label for="dia">Filtrar por día</label>
            </div>
            <div>
                <input type="radio" id="mes" name="tipo_filtro" value="mes">
                <label for="mes">Filtrar por mes</label>
            </div>

            <label for="filtro_fecha">Fecha:</label>
            <input type="date" name="filtro_fecha" id="filtro_fecha">
            <br>

            <label for="filtro_mes">Mes:</label>
            <input type="month" name="filtro_mes" id="filtro_mes" disabled>
            <br>

            <button type="submit">Filtrar</button>
        </form>
        <h4><a href="/pedidos">Nuevo</a></h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Fecha de Compra</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.cliente_nombre }}</td>
                    <td>{{ pedido.cliente_direccion }}</td>
                    <td>{{ pedido.cliente_telefono }}</td>
                    <td>{{ pedido.fecha_compra }}</td>
                    <td>{{ pedido.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Suma de los totales: ${{ suma_totales }}</p>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
                const tipoFiltro = document.getElementsByName("tipo_filtro");
                const filtroFecha = document.getElementById("filtro_fecha");
                const filtroMes = document.getElementById("filtro_mes");

                function actualizarFiltro() {
                    if (tipoFiltro[0].checked) {
                        filtroFecha.disabled = false;
                        filtroMes.disabled = true;
                    } else {
                        filtroFecha.disabled = true;
                        filtroMes.disabled = false;
                    }
                }

                tipoFiltro.forEach(radio => radio.addEventListener("change", actualizarFiltro));
                actualizarFiltro();
            });
    </script>
{% endblock %}
