
{%extends 'layout.html' %}

{%block content %}
{% import "_macros.html" as macros %}

<h1>Alumnos</h1>

<form action="/alumnos" method="POST" novalidate>
    
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{macros.render_field(form.nombre, class="form-controls")}}
    {{macros.render_field(form.apaterno, class="form-controls")}}
    {{macros.render_field(form.amaterno, class="form-controls")}}
    {{macros.render_field(form.edad, class="form-controls")}}
    {{macros.render_field(form.correo, class="form-controls")}}
    <button type="submit" class="btn btn-primary" name="btn1" value="registrar">Submit</button>
</form>

<h1>Nombre: {{nom}}</h1>

{%endblock%}